<template>
  <div class="clear-wrapper">
    <div class="clear" @click="$emit('clearInput')"></div>
  </div>
</template>

<script>
export default {
  name: 'Clear'
};
</script>

<style lang="scss" scoped>
@import '../../css/variables';
.clear-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  position: absolute;
  right: 5px;
  top: 0;
}

.clear {
  align-items: center;
  background-color: $vr-light;
  border: none;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  height: 20px;
  justify-content: center;
  line-height: 20px;
  width: 20px;

  &:hover {
    background-color: darken($color: $vr-light, $amount: 10);
  }

  &:after {
    content: 'x';
    height: 22px;
  }
}
</style>
