<template>
  <ValidationObserver ref="form">
    <div>
      <ValidationProvider
        v-slot="{ errors }"
        rules="required|email"
        name="Email"
      >
        <div class="content-column flex-start">
          <label for="email">{{ 'email' | capitalize }}:</label>
          <div class="input-container">
            <input ref="email" v-model="email" class="email" name="email" />
            <Clear v-if="email !== ''" @clearInput="clearInput" />
            <font-awesome-icon v-else class="input-icon" :icon="icon" />
          </div>
          <span class="error">{{ errors[0] }}</span>
        </div>
      </ValidationProvider>
    </div>
  </ValidationObserver>
</template>

<script>
import Clear from './Clear';
import { ValidationProvider, ValidationObserver } from 'vee-validate';
export default {
  name: 'EmailInput',
  components: {
    Clear,
    ValidationObserver,
    ValidationProvider
  },
  props: {
    icon: {
      required: true,
      type: Object
    }
  },
  computed: {
    email: {
      get() {
        return this.$store.state.email || '';
      },
      set(value) {
        this.$store.commit('SET_EMAIL_FIELD', value);
      }
    }
  },
  methods: {
    async clearInput() {
      this.email = '';
      this.$nextTick(() => {
        this.$refs.form.reset();
      });
    }
  }
};
</script>

<style></style>
