<template>
  <div>
    <ValidationProvider v-slot="{ errors }" rules="required|min:2">
      <div class="content-column flex-start">
        <label :for="input.name">{{ input.name | capitalize }}:</label>
        <div class="input-container">
          <input :class="input.name" :name="input.name" />
          <font-awesome-icon class="input-icon" :icon="input.iconName" />
        </div>
        <span class="error">{{ errors[0] }}</span>
      </div>
    </ValidationProvider>
  </div>
</template>

<script>
import { ValidationProvider } from 'vee-validate';
export default {
  name: 'IconInput',
  components: {
    ValidationProvider
  },
  props: {
    input: { required: true, type: Object }
  },
  methods: {
    clearInput() {
      this.$refs.input.value = '';
      this.name = '';
    }
  }
};
</script>

<style></style>
