<template>
  <ValidationObserver ref="form">
    <ValidationProvider
      v-slot="{ errors }"
      rules="required|min:3|alpha_spaces"
      name="Name"
    >
      <div class="content-column flex-start">
        <label for="name">Name:</label>
        <div class="input-container">
          <input ref="name" v-model="name" class="name" :name="'name'" />
          <Clear v-if="name !== ''" @clearInput="clearInput" />
        </div>
        <span class="error">{{ errors[0] }}</span>
      </div>
    </ValidationProvider>
  </ValidationObserver>
</template>

<script>
import Clear from './Clear';
import { ValidationProvider, ValidationObserver } from 'vee-validate';
export default {
  name: 'NameInput',
  components: {
    Clear,
    ValidationObserver,
    ValidationProvider
  },
  computed: {
    name: {
      get() {
        return this.$store.state.name || '';
      },
      set(value) {
        this.$store.commit('SET_NAME_FIELD', value);
      }
    }
  },
  methods: {
    clearInput() {
      this.name = '';
      this.$nextTick(() => {
        this.$validator.reset();
      });
    }
  }
};
</script>

<style lang="scss" scoped></style>
