<template>
  <ValidationObserver ref="form">
    <div>
      <ValidationProvider
        v-slot="{ errors }"
        rules="required|min:6"
        name="Password"
      >
        <div class="content-column flex-start">
          <label for="password">{{ 'password' | capitalize }}:</label>
          <div class="input-container">
            <input
              ref="password"
              v-model="password"
              class="password"
              name="password"
              type="password"
            />
            <Clear v-if="password !== ''" @clearInput="clearInput" />
            <font-awesome-icon v-else class="input-icon" :icon="icon" />
          </div>
          <span class="error">{{ errors[0] }}</span>
        </div>
      </ValidationProvider>
    </div>
  </ValidationObserver>
</template>

<script>
import Clear from './Clear';
import { ValidationProvider, ValidationObserver } from 'vee-validate';
export default {
  name: 'PasswordInput',
  components: {
    Clear,
    ValidationObserver,
    ValidationProvider
  },
  props: {
    icon: {
      required: true,
      type: Object
    }
  },
  computed: {
    password: {
      get() {
        return this.$store.state.password || '';
      },
      set(value) {
        this.$store.commit('SET_PASSWORD_FIELD', value);
      }
    }
  },
  methods: {
    clearInput() {
      this.password = '';
      this.$nextTick(() => {
        this.$refs.form.reset();
      });
    }
  }
};
</script>

<style></style>
