<template>
  <ValidationObserver ref="form">
    <div>
      <ValidationProvider
        v-slot="{ errors }"
        rules="required|digits:10"
        name="Phone"
      >
        <div class="content-column flex-start">
          <label for="phone">{{ 'phone' | capitalize }}:</label>
          <div class="input-container">
            <input
              ref="phone"
              v-model="phone"
              class="phone"
              name="phone"
              type="phone"
            />
            <Clear v-if="phone !== ''" @clearInput="clearInput" />
            <font-awesome-icon v-else class="input-icon" :icon="icon" />
          </div>
          <span class="error">{{ errors[0] }}</span>
        </div>
      </ValidationProvider>
    </div>
  </ValidationObserver>
</template>

<script>
import Clear from './Clear';
import { ValidationProvider, ValidationObserver } from 'vee-validate';
export default {
  name: 'PhoneInput',
  components: {
    Clear,
    ValidationObserver,
    ValidationProvider
  },
  props: {
    icon: {
      required: true,
      type: Object
    }
  },
  computed: {
    phone: {
      get() {
        return this.$store.state.phone || '';
      },
      set(value) {
        this.$store.commit('SET_PHONE_FIELD', value);
      }
    }
  },
  methods: {
    clearInput() {
      this.phone = '';
      this.$nextTick(() => {
        this.$refs.form.reset();
      });
    }
  }
};
</script>

<style></style>
