<template>
  <div class="card-container">
    <div class="card" @mouseenter="show" @mouseleave="hide">
      <div
        class="card-img"
        :style="{ backgroundImage: `url(https://via.placeholder.com/250)` }"
        @click="showContent = !showContent"
      >
        <transition name="component-fade" mode="out-in">
          <div v-if="showTitle" class="hover-title">
            <h2>
              {{ venue.title }}
            </h2>
          </div>
        </transition>
      </div>
      <!-- <transition name="component-fade-out" mode="out-in">
        <div v-if="!showContent" class="flex-row">
          {{ venue.title }}
        </div>
      </transition> -->
      <transition name="component-slide" mode="out-in">
        <div v-show="showContent" class="card-description">
          <div class="flex-column se">
            <h4>
              {{ venue.title }}
            </h4>
            <div>
              {{ venue.location }}
            </div>
            <div>
              {{ venue.description }}
            </div>
            <div class="flex-row sb">
              <div>${{ venue.price }}</div>
              <div>
                {{ venue.capacity }}
              </div>
              <div @click="venue.fav = !venue.fav">
                {{ venue.fav }}
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: {
    venue: {
      required: true,
      type: Object
    }
  },
  data() {
    return {
      showContent: false,
      showTitle: false
    };
  },
  methods: {
    addToFavorites() {
      this.$store.commit('ADD_TO_FAVORITES');
    },
    hide() {
      this.showTitle = false;
    },
    show() {
      this.showTitle = true;
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../../css/variables';
.card-container {
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  min-width: 250px;
  transition: 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 0 10px 2px $vr-lightest;
  }
}

.card-description {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: flex-start;
  text-align: left;
  transition: 0.2s ease-in-out;
  width: 250px;
  > div {
    height: 100%;
    padding: 10px 20px;
  }
}

.card-img {
  display: flex;
  align-items: center;
  height: 250px;
  justify-content: center;
  width: 250px;
}

.hover-title {
  align-items: center;
  background-color: $vr-lightest;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  opacity: 0.5;
  transition: 0.2s ease-in-out;
  width: 100%;
}
</style>
