<template>
  <div class="content">
    <h1>buttons & inputs</h1>
    <div class="scroll">
      <div class="content-column flex-start">
        <h3>Buttons</h3>
        <div class="flex-row wrap">
          <div
            v-for="button in buttons"
            :key="button.name"
            class="button-wrapper mr-10"
          >
            <button :class="button.name" @click="alertBtn(button.name)">
              button
              <font-awesome-icon
                v-if="button.iconName"
                :icon="button.iconName"
              />
            </button>
            <span class="pt-10 pb-10">
              {{ button.name }}
            </span>
          </div>
        </div>
      </div>
      <div class="content-column flex-start">
        <h3>Inputs with validation</h3>
        <div class="content-block">
          <label for="search">Search: {{ result }}</label>
          <SearchInput
            :btn-txt="'search'"
            :filter-list="list"
            :input="true"
            :search-text="search"
            :type="'search'"
            name="search"
          >
          </SearchInput>
          <p>
            {{ searchInputDescription }}
          </p>
        </div>
        <div class="content-column">
          <NameInput />
          <EmailInput :icon="emailIcon" :email="email" />
          <PhoneInput :icon="phoneIcon" :phone="phone" />
          <PasswordInput :icon="passwordIcon" :password="password" />
          <!-- <IconInput
            v-for="input in inputs"
            :key="input.name"
            v-model="input.name"
            :input="input"
          /> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SearchInput from '../components/Search/SearchInput';
import ButtonTypes from '../objectRefs/buttonTypes';
import InputTypes from '../objectRefs/inputTypes';
import EmailInput from '../components/Inputs/Email';
import PhoneInput from '../components/Inputs/Phone';
import PasswordInput from '../components/Inputs/Password';
import NameInput from '../components/Inputs/Name';
// import IconInput from '../components/Inputs/IconInput';
import { faEnvelope, faPhone, faKey } from '@fortawesome/free-solid-svg-icons';

export default {
  name: 'Buttons',
  components: {
    EmailInput,
    // IconInput,
    NameInput,
    SearchInput,
    PhoneInput,
    PasswordInput
  },
  data() {
    return {
      buttons: ButtonTypes,
      inputs: InputTypes,
      emailIcon: faEnvelope,
      phoneIcon: faPhone,
      passwordIcon: faKey,
      name: '',
      email: '',
      phone: '',
      password: '',
      searchInputDescription:
        'Autocomplete, disabled when no value, validation, clear search, loading'
    };
  },
  computed: {
    list() {
      return this.$store.state.list;
    },
    result() {
      return this.$store.state.result;
    },
    search() {
      return this.$store.state.search || '';
    }
  },
  methods: {
    alertBtn(value) {
      alert(`You clicked the ${value} button`);
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../css/buttons';
@import '../css/inputs';

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
</style>
