<template>
  <div class="content">
    <h1>colors</h1>
    <div class="scroll">
      <div class="content-column flex-start">
        <h3>Main</h3>
        <div class="content-row">
          <div
            v-for="(color, index) in colors"
            :key="index"
            class="color-card"
            @click="setBgColor(color.color)"
          >
            <div class="color-block" :style="{ backgroundColor: color.color }">
              {{ color.name }}
            </div>
            <div class="color-desc">
              {{ color.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Colors from '../objectRefs/colors';
export default {
  name: 'Colors',
  data() {
    return {
      colors: Colors,
      selected: ''
    };
  },
  methods: {
    setBgColor(value) {
      this.$store.commit('SET_BG_COLOR', value);
    }
  }
};
</script>

<style lang="scss" scoped>
.content-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.color-card {
  border: 1px solid lightgrey;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-height: 200px;
  padding: 10px;
  width: 20%;
}

.color-block {
  align-items: center;
  border-radius: 2px;
  color: white;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 100%;
}
.color-desc {
  align-items: center;
  background-color: white;
  display: flex;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  padding: 10px 0;
}
</style>
