<template>
  <div class="content">
    <h1>Layout items</h1>
    <div class="scroll">
      <div class="content-column">
        <h3>Cards</h3>
        <div class="cards">
          <Card v-for="(venue, i) in venues" :key="i" :venue="venue" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Card from '../components/Card/Card';
export default {
  name: 'Layout',
  components: { Card },
  data() {
    return {
      cards: []
    };
  },
  computed: {
    venues() {
      return this.$store.state.venues;
    }
  }
};
</script>

<style lang="scss" scoped>
.cards {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100vh - 65px);
  margin: 0 auto;
  justify-content: space-between;
  text-align: left;
  width: 100%;
}

.flex-column {
  padding: 0 20px;
}

h3 {
  text-align: left;
}
</style>
