<template>
  <div class="playground" :style="{ backgroundColor: bg }">
    <p>Here is some text for contrast</p>
  </div>
</template>

<script>
export default {
  name: 'Playground',
  computed: {
    bg() {
      return this.$store.state.bgColor || '';
    }
  }
};
</script>

<style lang="scss" scoped>
.playground {
  color: black;
  height: 100vh;
  padding-top: 20px;
  transition: 0.2s ease-in-out;
  width: 200px;
}
</style>
