<template>
  <div class="sidebar">
    <h1>
      Nav
    </h1>
    <div class="sidebar-links">
      <ul>
        <li v-for="(cat, index) in categories" :key="index">
          <router-link :to="cat">{{ cat }}</router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      categories: ['buttons', 'colors', 'layout']
    };
  }
};
</script>

<style lang="scss" scoped>
.sidebar {
  background-color: #303030;
  height: 100vh;
  padding-top: 20px;
  text-align: left;
  width: 200px;
  h1 {
    color: white;
    margin-bottom: 10px;
    text-align: center;
  }
  ul,
  li {
    list-style: none;
    text-decoration: none;
  }
  li {
    padding: 5px 0;
    &:first-child {
      padding-top: 0;
    }
  }
  &-links {
    padding: 0 20px;
  }
}
</style>
