@import './variables.scss';

button {
    align-items: center;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    height: $vr-xl;
    justify-content: center;
    outline: none;
    padding: 0 10px;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
}

.primary {
    @extend button;
    background-color: black;
    color: white;

    &:hover {
        background-color: $vr-lightest;
        color: black;
    }
}

.secondary {
    @extend button;
    background-color: $vr-dark;

    &:hover {
        background-color: lighten($color: $vr-dark, $amount: 20);
    }
}

.outline {
    @extend button;
    background-color: black;
    border: 1px solid black;
    color: white;

    &:hover {
        background-color: white;
        border: 1px solid black;
        color: black;
    }
}

.outline-arrow {
    @extend button;
    background-color: black;
    border: 1px solid black;
    color: white;

    &:hover {
        background-color: white;
        border: 1px solid black;
        color: black;
    }

    svg {
        padding-left: 5px;
    }
}

.outline-pill {
    @extend button;
    background-color: black;
    border: 1px solid black;
    border-radius: 25px;
    color: white;

    &:hover {
        background-color: white;
        border: 1px solid black;
        color: black;
    }
}

.outline-pill-arrow {
    @extend button;
    background-color: black;
    border: 1px solid black;
    border-radius: 25px;
    color: white;

    &:hover {
        background-color: white;
        border: 1px solid black;
        color: black;
    }

    svg {
        padding-left: 5px;
    }
}

.outline-pill-reversed {
    @extend button;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    color: black;

    &:hover {
        background-color: black;
        border: 1px solid black;
        color: white;
    }
}

.outline-pill-reversed-arrow {
    @extend button;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    color: black;

    &:hover {
        background-color: black;
        border: 1px solid black;
        color: white;
    }

    svg {
        padding-left: 5px;
    }
}