.flex {
    display: flex;
}

.flex-column {
    @extend .flex;
    flex-direction: column;
    overflow-y: auto;
}

.flex-row {
    @extend .flex;
    flex-direction: row;
}

.flex-start {
    @extend .flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-end {
    @extend .flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.sb {
    @extend .flex;
    justify-content: space-between;
}

.se {
    @extend .flex;
    justify-content: space-evenly;
}

.wrap {
    flex-wrap: wrap;
}