@font-face {
    font-family: 'didot_lt_stdornaments';
    src: url('../../fonts/didotltstd-ornaments-webfont.eot');
    src: url('../../fonts/didotltstd-ornaments-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/didotltstd-ornaments-webfont.woff') format('woff'),
        url('../../fonts/didotltstd-ornaments-webfont.ttf') format('truetype'),
        url('../../fonts/didotltstd-ornaments-webfont.svg#didot_lt_stdornaments') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'didot_lt_stdregular';
    src: url('../../fonts/didotltstd-roman-webfont.eot');
    src: url('../../fonts/didotltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/didotltstd-roman-webfont.woff') format('woff'),
        url('../../fonts/didotltstd-roman-webfont.ttf') format('truetype'),
        url('../../fonts/didotltstd-roman-webfont.svg#didot_lt_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'didot_lt_stdbold';
    src: url('../../fonts/didotltstd-bold-webfont.eot');
    src: url('../../fonts/didotltstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/didotltstd-bold-webfont.woff') format('woff'),
        url('../../fonts/didotltstd-bold-webfont.ttf') format('truetype'),
        url('../../fonts/didotltstd-bold-webfont.svg#didot_lt_stdbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'didot_lt_stdheadline';
    src: url('../../fonts/didotltstd-headline-webfont.eot');
    src: url('../../fonts/didotltstd-headline-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/didotltstd-headline-webfont.woff') format('woff'),
        url('../../fonts/didotltstd-headline-webfont.ttf') format('truetype'),
        url('../../fonts/didotltstd-headline-webfont.svg#didot_lt_stdheadline') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'didot_lt_stditalic';
    src: url('../../fonts/didotltstd-italic-webfont.eot');
    src: url('../../fonts/didotltstd-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/didotltstd-italic-webfont.woff') format('woff'),
        url('../../fonts/didotltstd-italic-webfont.ttf') format('truetype'),
        url('../../fonts/didotltstd-italic-webfont.svg#didot_lt_stditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'radikalblack_italic';
    src: url('../../fonts/nootype_-_radikal_black_italic-webfont.eot');
    src: url('../../fonts/nootype_-_radikal_black_italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/nootype_-_radikal_black_italic-webfont.woff') format('woff'),
        url('../../fonts/nootype_-_radikal_black_italic-webfont.ttf') format('truetype'),
        url('../../fonts/nootype_-_radikal_black_italic-webfont.svg#radikalblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikalblack';
    src: url('../../../fonts/nootype_-_radikal_black-webfont.eot');
    src: url('../../../fonts/nootype_-_radikal_black-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/nootype_-_radikal_black-webfont.woff') format('woff'),
        url('../../../fonts/nootype_-_radikal_black-webfont.ttf') format('truetype'),
        url('../../../fonts/nootype_-_radikal_black-webfont.svg#radikalblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikalbold_italic';
    src: url('../../../fonts/nootype_-_radikal_bold_italic-webfont.eot');
    src: url('../../../fonts/nootype_-_radikal_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/nootype_-_radikal_bold_italic-webfont.woff') format('woff'),
        url('../../../fonts/nootype_-_radikal_bold_italic-webfont.ttf') format('truetype'),
        url('../../../fonts/nootype_-_radikal_bold_italic-webfont.svg#radikalbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikalbold';
    src: url('../../../fonts/nootype_-_radikal_bold-webfont.eot');
    src: url('../../../fonts/nootype_-_radikal_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/nootype_-_radikal_bold-webfont.woff') format('woff'),
        url('../../../fonts/nootype_-_radikal_bold-webfont.ttf') format('truetype'),
        url('../../../fonts/nootype_-_radikal_bold-webfont.svg#radikalbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikalitalic';
    src: url('../../../fonts/nootype_-_radikal_italic-webfont.eot');
    src: url('../../../fonts/nootype_-_radikal_italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/nootype_-_radikal_italic-webfont.woff') format('woff'),
        url('../../../fonts/nootype_-_radikal_italic-webfont.ttf') format('truetype'),
        url('../../../fonts/nootype_-_radikal_italic-webfont.svg#radikalitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikallight_italic';
    src: url('../../../fonts/nootype_-_radikal_light_italic-webfont.eot');
    src: url('../../../fonts/nootype_-_radikal_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/nootype_-_radikal_light_italic-webfont.woff') format('woff'),
        url('../../../fonts/nootype_-_radikal_light_italic-webfont.ttf') format('truetype'),
        url('../../../fonts/nootype_-_radikal_light_italic-webfont.svg#radikallight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikallight';
    src: url('../../../fonts/nootype_-_radikal_light-webfont.eot');
    src: url('../../../fonts/nootype_-_radikal_light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/nootype_-_radikal_light-webfont.woff') format('woff'),
        url('../../../fonts/nootype_-_radikal_light-webfont.ttf') format('truetype'),
        url('../../../fonts/nootype_-_radikal_light-webfont.svg#radikallight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikalmedium_italic';
    src: url('../../../fonts/nootype_-_radikal_medium_italic-webfont.eot');
    src: url('../../../fonts/nootype_-_radikal_medium_italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/nootype_-_radikal_medium_italic-webfont.woff') format('woff'),
        url('../../../fonts/nootype_-_radikal_medium_italic-webfont.ttf') format('truetype'),
        url('../../../fonts/nootype_-_radikal_medium_italic-webfont.svg#radikalmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikalmedium';
    src: url('../../../fonts/nootype_-_radikal_medium-webfont.eot');
    src: url('../../../fonts/nootype_-_radikal_medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/nootype_-_radikal_medium-webfont.woff') format('woff'),
        url('../../../fonts/nootype_-_radikal_medium-webfont.ttf') format('truetype'),
        url('../../../fonts/nootype_-_radikal_medium-webfont.svg#radikalmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikalthin_italic';
    src: url('../../../fonts/nootype_-_radikal_thin_italic-webfont.eot');
    src: url('../../../fonts/nootype_-_radikal_thin_italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/nootype_-_radikal_thin_italic-webfont.woff') format('woff'),
        url('../../../fonts/nootype_-_radikal_thin_italic-webfont.ttf') format('truetype'),
        url('../../../fonts/nootype_-_radikal_thin_italic-webfont.svg#radikalthin_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikalthin';
    src: url('../../../fonts/nootype_-_radikal_thin-webfont.eot');
    src: url('../../../fonts/nootype_-_radikal_thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/nootype_-_radikal_thin-webfont.woff') format('woff'),
        url('../../../fonts/nootype_-_radikal_thin-webfont.ttf') format('truetype'),
        url('../../../fonts/nootype_-_radikal_thin-webfont.svg#radikalthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikalultrathin_italic';
    src: url('../../../fonts/nootype_-_radikal_ultrathin_italic-webfont.eot');
    src: url('../../../fonts/nootype_-_radikal_ultrathin_italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/nootype_-_radikal_ultrathin_italic-webfont.woff') format('woff'),
        url('../../../fonts/nootype_-_radikal_ultrathin_italic-webfont.ttf') format('truetype'),
        url('../../../fonts/nootype_-_radikal_ultrathin_italic-webfont.svg#radikalultrathin_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikalultrathin';
    src: url('../../../fonts/nootype_-_radikal_ultrathin-webfont.eot');
    src: url('../../../fonts/nootype_-_radikal_ultrathin-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/nootype_-_radikal_ultrathin-webfont.woff') format('woff'),
        url('../../../fonts/nootype_-_radikal_ultrathin-webfont.ttf') format('truetype'),
        url('../../../fonts/nootype_-_radikal_ultrathin-webfont.svg#radikalultrathin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikalregular';
    src: url('../../../fonts/nootype_-_radikal-webfont.eot');
    src: url('../../../fonts/nootype_-_radikal-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/nootype_-_radikal-webfont.woff') format('woff'),
        url('../../../fonts/nootype_-_radikal-webfont.ttf') format('truetype'),
        url('../../../fonts/nootype_-_radikal-webfont.svg#radikalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'graphique_proregular';
    src: url('../../../fonts/profonts_-_graphiquepro-webfont.eot');
    src: url('../../../fonts/profonts_-_graphiquepro-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/profonts_-_graphiquepro-webfont.woff') format('woff'),
        url('../../../fonts/profonts_-_graphiquepro-webfont.ttf') format('truetype'),
        url('../../../fonts/profonts_-_graphiquepro-webfont.svg#graphique_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lorabold';
    src: url('../../../fonts/lora-bold-webfont.eot');
    src: url('../../../fonts/lora-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/lora-bold-webfont.woff') format('woff'),
        url('../../../fonts/lora-bold-webfont.ttf') format('truetype'),
        url('../../../fonts/lora-bold-webfont.svg#lorabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lorabold_italic';
    src: url('../../../fonts/lora-bolditalic-webfont.eot');
    src: url('../../../fonts/lora-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/lora-bolditalic-webfont.woff') format('woff'),
        url('../../../fonts/lora-bolditalic-webfont.ttf') format('truetype'),
        url('../../../fonts/lora-bolditalic-webfont.svg#lorabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'loraitalic';
    src: url('../../../fonts/lora-italic-webfont.eot');
    src: url('../../../fonts/lora-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/lora-italic-webfont.woff') format('woff'),
        url('../../../fonts/lora-italic-webfont.ttf') format('truetype'),
        url('../../../fonts/lora-italic-webfont.svg#loraitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'loraregular';
    src: url('../../../fonts/lora-regular-webfont.eot');
    src: url('../../../fonts/lora-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/lora-regular-webfont.woff') format('woff'),
        url('../../../fonts/lora-regular-webfont.ttf') format('truetype'),
        url('../../../fonts/lora-regular-webfont.svg#loraregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'frontage_outline';
    src: url('../../../fonts/Frontage-Outline.eot');
    src: url('../../../fonts/Frontage-Outline.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/Frontage-Outline.woff') format('woff'),
    url('../../../fonts/Frontage-Outline.ttf') format('truetype'),
    url('../../../fonts/Frontage-Outline.svg#frontage_outline') format('svg');
    font-weight: normal;
    font-style: normal;
}*/