input {
    border: 1px solid $vr-lightest;
    font-size: 16px;
    height: 32px;
    outline: none;
    padding: 0 5px;
    transition: .2s ease-in-out;

    &:hover {
        border: 1px solid $vr-dark;
    }

    &:focus {
        border: 1px solid $vr-dark;
    }
}

.input-container {
    position: relative;
}

.input-icon {
    position: absolute;
    right: 10px;
    height: 100%;
    top: 0;
}