.load {
    animation: spin 2s linear infinite;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    display: flex;
    justify-content: center;
    height: 10px;
    transition: .2s ease-in-out;
    width: 10px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}