* {
    margin: 0;
    padding: 0;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;

    &:hover {
        color: $vr-secondary;
    }
}

h1 {
    text-transform: uppercase;
}

h3 {
    background-color: white;
    margin-bottom: 10px;
    margin-top: 8px;
    position: sticky;
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
    top: 8px;
}

img {
    border: 0;
}

#app {
    color: $vr-dark;
    display: flex;
    flex-direction: row;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    height: 100vh;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;

    &-block {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;
    }

    &-column {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;

        h4 {
            text-align: left;
        }
    }

    &-row {
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    h1 {
        border-bottom: 1px solid $vr-lightest;
    }
}

.error {
    color: red;
    display: flex;
}

.scroll {
    height: 100%;
    overflow-y: scroll;
    padding: 0 20px;
}