@mixin vr-radikal($type:"regular") {
    @if $type=='bold' {
        font-family: 'radikalbold';
        letter-spacing: 0.03em;
    }

    @if $type=='regular' {
        font-family: 'radikalregular';
        letter-spacing: 0.03em;
    }

    @if $type=='light' {
        font-family: 'radikallight';
        letter-spacing: 0.03em;
    }

    @if $type=='thin' {
        font-family: 'radikalthin';
        letter-spacing: 0.03em;
    }

    @if $type=='medium' {
        font-family: 'radikalmedium';
        letter-spacing: 0.03em;
    }

    @if $type=='italic' {
        font-family: 'radikalitalic';
    }

    @if $type=='thinitalic' {
        font-family: 'radikalthin_italic';
    }
}

@mixin vr-lora($type:"italic") {
    @if $type=='italic' {
        font-family: 'loraitalic';
    }

    @if $type=='regular' {
        font-family: 'loraregular';
    }

    @if $type=='bold' {
        font-family: 'lorabold';
    }
}

@mixin vr-didot($type:"italic") {
    @if $type=='italic' {
        font-family: 'didot_lt_stditalic';
    }

    @if $type=='regular' {
        font-family: 'didot_lt_stdregular';
    }

    @if $type=='bold' {
        font-family: 'didot_lt_stdbold';
    }
}