.component-fade-enter-active,
.component-fade-leave-active {
    transition: opacity .2s;
}

.component-fade-enter,
.component-fade-leave-to {
    opacity: 0;
}

.component-fade-out-enter-active,
.component-fade-out-leave-active {
    transition: opacity .05s;
}

.component-fade-out-enter,
.component-fade-out-leave-to {
    opacity: 0;
}

// component slide in
.component-slide-enter-active {
    transition: all 0.2s ease
}

.component-slide-leave-active {
    transition: all 0.2s cubic-bezier(0, 0.2, 0.2, 1)
}

.component-slide-enter,
.component-slide-leave-to {
    transform: translateY(-15%);
    opacity: 0;
}