// main colors
$vr-primary: #B59A76;
$vr-secondary: #62727B;
$vr-success: #439889;
$vr-danger: #FF606A;
$vr-warning: #F9D982;
$vr-info: #00838F;
$vr-light: #8C8C8C;
$vr-lighter: #D9D9D9;
$vr-lightest: #F8F8F8;
$vr-dark: #37474F;

// heights
$vr-xs: 18px;

$vr-sm: 20px;

$vr-md: 24px;

$vr-lg: 32px;

$vr-xl: 40px;