@import '../../css/variables.scss';

.search-button {
    background-color: $vr-primary;
    border: none;
    color: black;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    width: 70px;

    &:hover {
        background-color: lighten($color: $vr-primary, $amount: 10);
    }
}

.button-input {
    align-items: center;
    border: 1px solid $vr-lightest;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 32px;
    justify-content: flex-start;
}

.input-wrapper {
    align-items: center;
    display: flex;
    position: relative;
}

.is-active {
    background-color: black;
    color: white;
}

.search-results {
    border: 1px solid black;
    box-sizing: border-box;
    height: 200px;
    max-width: 100%;
    overflow-y: scroll;
    text-align: left;
}

ul,
li {
    list-style-type: none;
}

li {
    cursor: pointer;
    padding: 5px;

    &:hover {
        background-color: black;
        color: white;
    }
}

/* clears the 'X' from Internet Explorer */
input[type='search']::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type='search']::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}