<template>
  <div class="search-component">
    <ValidationProvider
      v-slot="{ errors }"
      rules="required|min:2"
      name="Search Input"
    >
      <div class="button-input">
        <div class="input-wrapper">
          <input
            v-if="input"
            ref="input"
            v-model="searchQuery"
            :type="type"
            @input="onChange"
            @keydown.down="onArrowDown"
            @keydown.up="onArrowUp"
            @keydown.enter="onEnter"
            @keyup.esc="clearInput"
          />
          <Clear v-if="searchQuery !== ''" @clearInput="clearInput" />
        </div>
        <button
          :disabled="searchQuery === ''"
          class="search-button"
          type="submit"
          @click="search"
        >
          <span :class="{ load: loading }">
            {{ loading ? '' : btnTxt }}
          </span>
          <!-- <font-awesome-icon :icon="searchButtonIcon" /> -->
        </button>
      </div>
      <span class="error">{{ errors[0] }}</span>
    </ValidationProvider>
    <transition name="component-fade" mode="out-in">
      <div v-show="isOpen" class="search-results">
        <ClickOutside :handler="close">
          <ul>
            <li
              v-for="(searchResult, index) in results"
              :key="index"
              :class="{ 'is-active': index === arrowCounter }"
              @click="selectResult(searchResult)"
            >
              {{ searchResult }}
            </li>
          </ul>
        </ClickOutside>
      </div>
    </transition>
  </div>
</template>

<script>
import ClickOutside from '../click-outside';
import Clear from '../Inputs/Clear';
import { faTimesCircle, faSearch } from '@fortawesome/free-solid-svg-icons';
import { ValidationProvider } from 'vee-validate';
export default {
  name: 'SearchInput',
  components: { Clear, ClickOutside, ValidationProvider },
  props: {
    btnTxt: {
      required: true,
      type: String
    },
    filterList: {
      required: true,
      type: Array
    },
    input: {
      required: true,
      type: Boolean
    },
    searchText: {
      required: true,
      type: String
    },
    type: {
      required: true,
      type: String
    }
  },
  data() {
    return {
      arrowCounter: -1,
      clearInputIcon: faTimesCircle,
      loading: false,
      isOpen: false,
      queryTime: 1500,
      results: [],
      searchButtonIcon: faSearch
    };
  },
  computed: {
    searchQuery: {
      get() {
        return this.$store.state.search || '';
      },
      set(value) {
        this.$store.commit('SET_SEARCH', value);
      }
    }
  },
  methods: {
    clearInput() {
      this.$refs.input.value = '';
      this.searchQuery = '';
      this.close();
    },
    close() {
      this.isOpen = false;
    },
    filterResults() {
      this.results = this.filterList.filter(
        (item) =>
          item.toLowerCase().indexOf(this.searchQuery.toLowerCase()) > -1
      );
    },
    onArrowDown() {
      if (this.arrowCounter < this.results.length) {
        this.arrowCounter = this.arrowCounter + 1;
      }
    },
    onArrowUp() {
      if (this.arrowCounter > 0) {
        this.arrowCounter = this.arrowCounter - 1;
      }
    },
    onChange() {
      this.isOpen = true;
      this.filterResults();
    },
    onEnter() {
      this.$store.commit(
        'SET_SEARCH_RESULT',
        this.filterList[this.arrowCounter]
      );
      this.arrowCounter = -1;
      this.isOpen = false;
    },
    search() {
      this.setLoading();
    },
    selectResult(value) {
      this.$store.commit('SET_SEARCH_RESULT', value);
      this.close();
    },
    setLoading() {
      this.loading = true;
      setTimeout(() => {
        this.loading = false;
      }, this.queryTime);
    }
  }
};
</script>

<style lang="scss" scoped>
@import './search.scss';
</style>
