<template>
  <div id="app">
    <Sidebar />
    <transition name="component-fade" mode="out-in">
      <router-view />
    </transition>
    <Playground />
  </div>
</template>

<script>
import Playground from './components/Playground';
import Sidebar from './components/Sidebar';
export default {
  name: 'App',
  components: {
    Playground,
    Sidebar
  }
};
</script>

<style lang="scss">
@import './css/app.scss';
</style>
